@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Custom styles */
.bg-gradient-radial {
  background-image: radial-gradient(var(--tw-gradient-stops));
}

.bg-gradient-conic {
  background-image: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
}
